
{%
    set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>

<head>

    {% if GTM %}
        <!-- Google Tag Manager -->
        <link href="https://www.googletagmanager.com" rel="preconnect" crossorigin>
        <link rel="dns-prefetch" href="https://www.googletagmanager.com">
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','{{ GTM }}');</script>
        <!-- End Google Tag Manager -->
    {% endif %}

    {% include "@organisms/global/head-loadcss.twig" %}
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">

    <!-- Google Fonts
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
     -->

</head>

<body{{ attributes.addClass(body_classes) }}>

    {% if GTM %}
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ GTM }}"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
    {% endif %}

    {#
    Keyboard navigation/accessibility link to main content section in
    page.html.twig.
    #}
    <a href="#main-content" class="center-horizontal pos-fixed opacity-0 focusable button skip-link">
        {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token }}">

</body>

</html>
