
{%
    set classes = [
        'paragraph',
        'paragraph--type--' ~ paragraph.bundle|clean_class,
        view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
        not paragraph.isPublished() ? 'paragraph--unpublished',
        'node--view-mode-card'
    ]
%}


{% block paragraph %}
    <div{{ attributes.addClass(classes) }} id="paragraph-{{ paragraph.id() }}">

        <div class="image">
            {{ content.field_image }}
        </div>

        <div class="copy">

            <h3>
                {{ content.field_heading|field_value }}
            </h3>

            {{ content.field_copy_first_column }}

        </div>

    </div>
{% endblock paragraph %}
